*,::after,::before{
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
  --color : rgb(8, 153, 197);
}
*h1,*p{
  cursor: text;
}
body{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main{
  min-width: 600px;
  height: 300px;
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid rgba(100, 100, 100, 0.5);
}
main > h1{
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  top: 10px;
}

main > div{
  border-top: 1px solid rgba(100, 100, 100, 0.5);
  position: relative;
  width: 100%;
  height: 90%;
  padding: 1rem;
  top: 25%;
  display: flex;
  justify-content: space-around;
}
.button{
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  border-radius: 50%;
  height: 56px;
  position: absolute;
  cursor: pointer;
  right: 0;
  margin-right: 10px;
  animation-iteration-count: infinite;
}
@keyframes buttonAnimation {
  0%,100%{
    box-shadow: 0rem 0rem .3rem rgba(8,153,197,0);
  }
  50%{
    box-shadow: 0rem 0rem .3rem rgba(8,153,197,1),0rem 0rem .5rem rgba(8,153,197,1),
    0rem 0rem .7rem rgba(8,153,197,1),
    0rem 0rem 1rem rgba(8,153,197,1),0rem 0rem 2rem rgba(8,153,197,1);
  }
}
.bpmDiv{
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  position: absolute;
  left: 0;
  top:1rem;
}
.bpmDiv h1 , .bpmDiv p {
  transform: translateY(-3rem);
}
.bpmDiv h1{
  font-size: 3.2rem;
  font-weight: 400;
}
svg{
  position: absolute;

}
.button::before{
  content: '';
  position: relative;
  z-index: 1000;
  width: 0px;
  height: 0px;
  transform: translateX(15%);
  border-top: 12px solid transparent;
  border-left: 17px solid white;
  border-bottom: 12px solid transparent;
  transition: .1s;
}
.button.active::before{
  content: '';
  position: relative;
  z-index: 1000;
  width: 18px;
  transform: translateX(0%);
  height: 23px;
  border-top: 0px solid transparent;
  border-left: 6px solid white;
  border-right: 6px solid white;
  border-bottom: 0px solid transparent;
}
input[type=range]{
  all: unset;
  width: 100%;
  height: 1px;
  position: relative;
  top: 56%;
  color: #0899c5;
  cursor: pointer;
  background:#0899c5;
  
}
#minusButton{ 
  all: unset;
  cursor: pointer;
  font-size: 6rem;
  font-weight: 450;
  color: #0899c5;
  position: relative;
  height: 1rem;
  transform: translateY(40px);
  margin-right: 10px;
}
#plusButton{
  all: unset;
  cursor: pointer;
  font-size: 3.3rem;
  font-weight: 900;
  transform: translateY(73px);
  color: #0899c5;
  height: 1rem;
  margin-left: 10px;
}
@media screen and (max-width:641px) {
  main{
    scale: .7;
  }
}